html, body, div, span, applet, object, iframe,
h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

h1 {
  background-color: rgb(37, 37, 97);
  color: white;
  padding: 20px;
  font-size: 2rem;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

input {
  border: none;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 1px rgba(0, 0, 0, 0.12),
  0 1px 3.4px rgba(0, 0, 0, 0.25);
  padding: 20px 30% 20px 10px;
  border-radius: 7px;
  margin-top: 20px;
  outline: none;
}

button {
  padding: 20px;
  border: none;
  border-radius: 7px;
  margin-left: 15px;
  background-color:rgb(37, 37, 97);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

#clear-button {
  background-color:rgb(37, 37, 97);
  color: white;
  margin: auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 7px;
  width: 30%;
}

.todo {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  margin: auto;
  width: 50%;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 1px rgba(0, 0, 0, 0.12),
  0 1px 3.4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 25px;
}

.todo:hover {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.25);
}